{% extends "layout.html" %}

{% block title %}
    Mother Base Management App
{% endblock %}

{% block main %}
    <img src="{{url_for('static', filename='bigboss.jpg')}}" class="img-fluid" alt="team photo">
    <br></br>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-0" style="text-align: right; padding:2% 5% 2% 5%">
                <p style="font-size:20px;">I won't scatter your sorrow to the heartless sea. I will always be with you.</p>
                <p style="font-size:20px;">Plant your roots in me. I won't see you end as ashes. <h2><strong>You're all diamonds.</strong></h2></p>
                <footer class="blockquote-footer" style="color: rgba(246, 207, 53, .95)">"Big Boss"</footer>
            </blockquote>
        </div>
    </div>

{% endblock %}